{% load static %}

<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Personal Portfolio</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <p>Personal Portfolio for Andrew Wilk</p>
                        <hr>
                        <div>
                          {% block content %}
                          {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                </div>
            </footer>
        </div>
    </body>
</html>