{% extends "base.html" %}

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container">
        <div class="table-responsive">
          <h2>Order Summary</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Item Price</th>
              </tr>
            </thead>
            <tbody>
              {% for order_item in object.items.all %}
              <tr>
                <th scope="row">1</th>
                <td>{{ order_item.item.title }}</td>
                <td>${{ order_item.item.price }}</td>
                <td>{{ order_item.quantity }}</td>
                <td>${{ order_item.get_total_item_price }}</td>
                {% endfor %}
              </tr>
              {% if object.items.all %} <!--If there are any items in the order, show total, otherwise, msg that there are no items-->
              <tr>
                <td colspan="4" class="font-weight-bold">Order Total</td>
                <td colspan="5" class="text-danger font-weight-bold">${{ object.get_total }}</td>
              </tr>
              <tr>
                <td colspan="5">
                  <a class="btn btn-warning text-dark" href="/checkout/">Proceed to Checkout</a>
                  <a class="btn btn-primary text-dark ml-2" href="/">Continue Shopping</a>
                </td>
              </tr>
              {% else %}
              <tr>
                <td colspan=5 class="font-weight-bold">No Items in Cart</td>
                <td></td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
    </div>
  </main>
  <!--Main layout-->

{% endblock content %}
